$toc-transition-time: 0.25s;
$toc-icon-size: 20px;

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    max-height: calc(100vh - 40px);
    overflow: hidden;
    transition: width $toc-transition-time ease-in-out;
    width: 100%;
}

.toc-container {
    background-color:lightblue;
    transition: width $toc-transition-time ease-in-out;    
}

.shrink-width {
    width: 0%;
}

.shrink-width-container {
    width: calc($toc-icon-size + 20px);
}