

@keyframes levitate {
    0%  {transform: translate(1.25rem, 1.25rem) translateZ(0rem);}
    50% {transform: translate(1.25rem, 1.25rem) translateZ(1rem);}
    100%{transform: translate(1.25rem, 1.25rem) translateZ(0rem);}
}

.ring-0 {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #51FCC9;
    display: inline-block;
    transform:  translate(1.25rem, 1.25rem);
    animation-name: levitate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.ring-1 {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background-color: #48E0DE;
    display: inline-block;
    transform-style: preserve-3d;
    transform:  translate(1.25rem, 1.25rem);
    animation-name: levitate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.ring-2 {
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    background-color: #5CD0F7;
    display: inline-block;
    transform-style: preserve-3d;
    transform: translate(1.25rem, 1.25rem);
    animation-name: levitate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.ring-3 {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background-color: #4892E0;
    display: inline-block;
    transform-style:preserve-3d;
    animation-name: levitate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.holder {
    transform: rotateX(45deg);
    transform-style:preserve-3d;
}



