.article-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.main-body {
    max-width: 70%;
    align-self: flex-end;
    padding: 2.5vh;
}

.img-width {
    max-width: 50%;
}